html {
  background-color: #2f2f2f;
}
/*This is the CSS for mobile devices*/
@media screen and (max-width: 1199px) {
  h2 {
    text-align: center;
    color: #e2e9f4;
    font-family: Verdana, sans-serif;
  }
  /*The outer portion of the input box*/
  .speechbar {
    margin: 60px 480px 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 10px;
    width:340px;
    padding:5px;
    height: 45px;
    background-color: #e2e9f4;
  }
  /*The inner portion of the input box*/
  .speechbar input {
    border:0;
    background-color: #fff;
    width:82%;
    display:inline-flex;
    height: 82%;
    font-size: 17px;
    border-radius: 10px;
  }
  /*The placeholder in the input box*/
  input[type="text"]::placeholder {
    padding: 3px;
  }
  /*The input button for speech to text*/
  .speechbar img {
    position: fixed;
    bottom: 1;
    right: 0;
    float:right;
    width:40px;
    padding: 5px;
  }
  /*The search output after a search is initiated*/
  .iframeBox{
    position: absolute;
    top: 180px;
    width: 100%;
  }
}
/*This is the CSS for computers*/
@media screen and (min-width: 1200px) {
  h2 {
    text-align: center;
    color: #e2e9f4;
    font-family: Verdana, sans-serif;
  }

  .speechbar {
    margin-left: 37%;
    border: 1px solid #fff;
    border-radius: 10px;
    width:25%;
    padding:5px;
    height: 45px;
    background-color: #e2e9f4;
    text-align: center;
  }

  .speechbar input {
    border:0;
    background-color: #fff;
    width:85%;
    display:inline-flex;
    height: 95%;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
  }

  input[type="text"]::placeholder {
    padding: 3px;
  }

  .speechbar img {
    float: right;
    width: 30px;
    padding: 5px;
  }

  .iframeBox{
    margin-top: 15px;
  }
}
